%div{:data => {:role => 'header'}}
  %h1= "#{@book} - William Gaddis"
  %a{:href => "#{root_path}", :data => {:role => 'button', :icon => 'back'}}
    Back
%div{:data => {:role => 'content'}}
  - if @book.annotations.any?
    %a{:href => "#{book_annotations_path(@book)}", :data => {:role => 'button', :icon => 'check'}}
      Annotations List
  - else
    %a{:href => "#", :data => {:role => 'button', :icon => 'alert'}}
      Annotations Coming Soon
  %a{:href => "#{@book.original_url}", :data => {:role => 'button', :icon => 'home'}}
    Original Page on williamgaddis.org
  %a{:href => "#{@book.amazon_url}", :data => {:role => 'button', :icon => 'info'}}
    Find at Amazon
  %a{:href => "#{@book.google_url}", :data => {:role => 'button', :icon => 'search'}}
    Google Search
