#sidebar
  = render :partial => 'book_detail_header'
#content
  %ul
    %li= previous_link(@annotations)
    %li= next_link(@annotations)
  - @annotations.each do |annotation|
    %h2= "#{annotation}"
    %h3= "#{annotation.title}"
    %p= "#{annotation.body}"
  %ul
    %li= previous_link(@annotations)
    %li= next_link(@annotations)
