%div{:data => {:role => 'header'}}
  %h1= link_to "Page #{@page_num} | #{@book}", book_annotations_path(@book)
  = previous_link(@annotations)
  = next_link(@annotations)
%div{:data => {:role => 'content'}}
  - @annotations.each_with_index do |annotation, i|
    - if i == 0
      %div{:data => {:role => 'collapsible'}}
    - else
      %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
        %h2= "#{annotation}"
        %h3= "#{annotation.title}"
        %p= "#{annotation.body}"

