%div{:data => {:role => 'header'}}
  %h1= "Annotations for #{@book} page #{@page_num}"
  = previous_link(@annotations)
  = next_link(@annotations)
%div{:data => {:role => 'content'}}
  - @annotations.each do |annotation|
    %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
      %h2= "#{annotation} #{annotation.title}"
      %p= "#{annotation.body}"

